body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    font-weight: normal;
    margin: 0px;
    margin-top: 3%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin: 0px;
}

.mainContent {
    height: 30%;
    position: relative;
    text-align: center;
}

.myGraph {
    width: 90%;
    margin: auto;
}

.theForm {
    width: 370px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.myInput {
    font-size: 22px;
    padding-left: 10px;
}

.myButton {
    border: 1px solid;
    background: none;
    transition: all .5s ease;
    text-align: center;
    cursor: pointer;
}

.submit {
    color: green;
    font-size: 22px;
}

.delete {
    color: red;
    font-size: 14px;
}

.delete:hover {
    background-color: red;
    color: white;
    border-color: red;
}

.stockContainer {
    text-align: center;
}

.stockList {
    display: inline-block;
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
}